In [43]:
import pandas as pd
import ast

In [21]:
kb_1 = pd.read_csv("../data/collab-rec-2026/input-data/kb/eu-cities-database.csv")
print(kb_1.columns)
print(kb_1.shape)
kb_1.head()

Index(['city', 'country', 'budget', 'walkability', 'aqi', 'popularity',
       'low_season', 'medium_season', 'high_season', 'interest_type',
       'interest_title', 'interest_text'],
      dtype='object')
(4767, 12)

,city,country,budget,walkability,aqi,popularity,low_season,medium_season,high_season,interest_type,interest_title,interest_text
0,Aalborg,Denmark,High,Great,Moderate,Medium,"['January', 'February', 'March', 'April', 'Nov...","['May', 'September', 'October']","['June', 'July', 'August']",see,Aalborg Akvavit,Aalborg Akvavit: Distillery.
1,Aalborg,Denmark,High,Great,Moderate,Medium,"['January', 'February', 'March', 'April', 'Nov...","['May', 'September', 'October']","['June', 'July', 'August']",see,Aalborghus Castle,Aalborghus Castle: A castle and garden from th...
2,Aalborg,Denmark,High,Great,Moderate,Medium,"['January', 'February', 'March', 'April', 'Nov...","['May', 'September', 'October']","['June', 'July', 'August']",see,Aalborg Townhall,Aalborg Townhall: Built in 1759.
3,Aalborg,Denmark,High,Great,Moderate,Medium,"['January', 'February', 'March', 'April', 'Nov...","['May', 'September', 'October']","['June', 'July', 'August']",see,Aalborg Zoo,"Aalborg Zoo: Cosy zoo with many ""classic"" zoo ..."
4,Aalborg,Denmark,High,Great,Moderate,Medium,"['January', 'February', 'March', 'April', 'Nov...","['May', 'September', 'October']","['June', 'July', 'August']",see,Elbjørn,Elbjørn: Icebreaker now working as a restauran...

In [22]:
kb_2 = pd.read_csv("../data/collab-rec-2026/input-data/kb/merged_listing.csv")
kb_2 = kb_2 [["city", 'interest_title', 'interest_type',
       'interest_text', 'interest_probability', 'interests']]
print(kb_2.shape)
kb_2.head()

(4767, 6)

,city,interest_title,interest_type,interest_text,interest_probability,interests
0,Aalborg,Aalborg Akvavit,see,Aalborg Akvavit: Distillery.,0.258346,Nightlife Spot
1,Aalborg,Aalborghus Castle,see,Aalborghus Castle: A castle and garden from th...,0.623170,Outdoors & Recreation
2,Aalborg,Aalborg Townhall,see,Aalborg Townhall: Built in 1759.,0.281356,Food
3,Aalborg,Aalborg Zoo,see,"Aalborg Zoo: Cosy zoo with many ""classic"" zoo ...",0.406486,Outdoors & Recreation
4,Aalborg,Elbjørn,see,Elbjørn: Icebreaker now working as a restauran...,0.858076,Arts & Entertainment

In [20]:
common_cols = [
    'city',
    'interest_type', 'interest_title', 'interest_text'
]

merged_df = kb_1.merge(
    kb_2,
    on=common_cols,
    how="inner"
)
merged_df

,city,country,budget,walkability,aqi,popularity,low_season,medium_season,high_season,interest_type,interest_title,interest_text,interest_probability,interests
0,Aalborg,Denmark,High,Great,Moderate,Medium,"['January', 'February', 'March', 'April', 'Nov...","['May', 'September', 'October']","['June', 'July', 'August']",see,Aalborg Akvavit,Aalborg Akvavit: Distillery.,0.258346,Nightlife Spot
1,Aalborg,Denmark,High,Great,Moderate,Medium,"['January', 'February', 'March', 'April', 'Nov...","['May', 'September', 'October']","['June', 'July', 'August']",see,Aalborghus Castle,Aalborghus Castle: A castle and garden from th...,0.623170,Outdoors & Recreation
2,Aalborg,Denmark,High,Great,Moderate,Medium,"['January', 'February', 'March', 'April', 'Nov...","['May', 'September', 'October']","['June', 'July', 'August']",see,Aalborg Townhall,Aalborg Townhall: Built in 1759.,0.281356,Food
3,Aalborg,Denmark,High,Great,Moderate,Medium,"['January', 'February', 'March', 'April', 'Nov...","['May', 'September', 'October']","['June', 'July', 'August']",see,Aalborg Zoo,"Aalborg Zoo: Cosy zoo with many ""classic"" zoo ...",0.406486,Outdoors & Recreation
4,Aalborg,Denmark,High,Great,Moderate,Medium,"['January', 'February', 'March', 'April', 'Nov...","['May', 'September', 'October']","['June', 'July', 'August']",see,Elbjørn,Elbjørn: Icebreaker now working as a restauran...,0.858076,Arts & Entertainment
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4762,Zurich,Switzerland,High,Great,Great,High,"['January', 'February', 'March', 'November']","['April', 'May', 'October', 'December']","['June', 'July', 'August', 'September']",drink,Rathauscafé,Rathauscafé: Coffee and a croissant in the mor...,0.768032,Food
4763,Zurich,Switzerland,High,Great,Great,High,"['January', 'February', 'March', 'November']","['April', 'May', 'October', 'December']","['June', 'July', 'August', 'September']",drink,Cranberry,Cranberry: Very crowded on Fridays and Saturda...,0.546181,Nightlife Spot
4764,Zurich,Switzerland,High,Great,Great,High,"['January', 'February', 'March', 'November']","['April', 'May', 'October', 'December']","['June', 'July', 'August', 'September']",drink,Barfüsser,"Barfüsser: Once Europe's oldest gay bar, it ha...",0.490198,Food
4765,Zurich,Switzerland,High,Great,Great,High,"['January', 'February', 'March', 'November']","['April', 'May', 'October', 'December']","['June', 'July', 'August', 'September']",drink,T&M,"T&M: Disco club, Marktgasse 14, and '''Aaaah''...",0.330914,Nightlife Spot
4766,Zurich,Switzerland,High,Great,Great,High,"['January', 'February', 'March', 'November']","['April', 'May', 'October', 'December']","['June', 'July', 'August', 'September']",drink,Sunday Trash,Sunday Trash: Gay and Lesbian party in Labor B...,0.821065,Nightlife Spot

In [23]:
merged_df.to_csv("../input-data/kb/eu-cities-database_2.csv", index=False)

In [9]:
kb_1.budget.unique()

array(['High', 'Low', 'not specified', 'Medium'], dtype=object)

In [4]:
kb_1.interest_text[0]

'Aalborg Akvavit: Distillery.'

In [24]:
kb_1.interest_type.unique()

array(['see', 'do', 'eat', 'drink', nan, 'go'], dtype=object)

In [34]:
sample_config = {
  "query": "Suggest places to visit in Spain",
  "filters": {
    "popularity": "High",
    "budget": "Low",
    "interests": "Outdoors & Recreation"
  }
}
filters = sample_config["filters"]

In [25]:
kb = merged_df
merged_df.columns

Index(['city', 'country', 'budget', 'walkability', 'aqi', 'popularity',
       'low_season', 'medium_season', 'high_season', 'interest_type',
       'interest_title', 'interest_text', 'interest_probability', 'interests'],
      dtype='object')

In [38]:
filtered_kb

,city,country,budget,walkability,aqi,popularity,low_season,medium_season,high_season,interest_type,interest_title,interest_text,interest_probability,interests
76,Ankara,Turkey,Low,Great,Good,High,"['January', 'February', 'March']","['April', 'June', 'November']","['May', 'July', 'August', 'September', 'Octobe...",see,Hacı Bayram Mosque,Hacı Bayram Mosque: restored by architect Mima...,0.333451,Outdoors & Recreation
77,Ankara,Turkey,Low,Great,Good,High,"['January', 'February', 'March']","['April', 'June', 'November']","['May', 'July', 'August', 'September', 'Octobe...",see,Arslanhane Mosque,Arslanhane Mosque: A 13th-century Seljuk mosqu...,0.529202,Outdoors & Recreation
78,Ankara,Turkey,Low,Great,Good,High,"['January', 'February', 'March']","['April', 'June', 'November']","['May', 'July', 'August', 'September', 'Octobe...",see,Sultan Alaeddin Mosque,Sultan Alaeddin Mosque: It has a carved walnut...,0.337669,Outdoors & Recreation
84,Ankara,Turkey,Low,Great,Good,High,"['January', 'February', 'March']","['April', 'June', 'November']","['May', 'July', 'August', 'September', 'Octobe...",see,TCDD Open Air Steam Locomotive Museum,TCDD Open Air Steam Locomotive Museum: An open...,0.319112,Outdoors & Recreation
89,Ankara,Turkey,Low,Great,Good,High,"['January', 'February', 'March']","['April', 'June', 'November']","['May', 'July', 'August', 'September', 'Octobe...",see,Roman Road of Ankara,Roman Road of Ankara: This is an ancient Roman...,0.371432,Outdoors & Recreation
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4559,Zagreb,Croatia,Low,Great,Great,High,"['January', 'February', 'March', 'November']","['April', 'May', 'October', 'December']","['June', 'July', 'August', 'September']",do,Snow Queen Trophy,Snow Queen Trophy: Ladies Night Slalom : Zagre...,0.385606,Outdoors & Recreation
4615,Zagreb,Croatia,Low,Great,Great,High,"['January', 'February', 'March', 'November']","['April', 'May', 'October', 'December']","['June', 'July', 'August', 'September']",drink,Golf,Golf: Popular golf-themed cafe/bar.,0.339311,Outdoors & Recreation
4619,Zagreb,Croatia,Low,Great,Great,High,"['January', 'February', 'March', 'November']","['April', 'May', 'October', 'December']","['June', 'July', 'August', 'September']",drink,Melin,Melin: A cheap bar brimming with young people ...,0.499674,Outdoors & Recreation
4621,Zagreb,Croatia,Low,Great,Great,High,"['January', 'February', 'March', 'November']","['April', 'May', 'October', 'December']","['June', 'July', 'August', 'September']",drink,Bar Plan B,Bar Plan B: A cafe/wine bar/sports bar. Attrac...,0.305730,Outdoors & Recreation
4622,Zagreb,Croatia,Low,Great,Great,High,"['January', 'February', 'March', 'November']","['April', 'May', 'October', 'December']","['June', 'July', 'August', 'September']",drink,Portal,"Portal: Next to Melin, offers same service, th...",0.463310,Outdoors & Recreation

In [40]:
def filter_kb(kb, config):
    """
    Sequentially filters the KB DataFrame based on available config filters.
    Matching is case-insensitive.
    Missing filters are ignored.
    """

    df = kb.copy()
    filters = config.get("filters", {})

    for key, value in filters.items():
        if value is None:
            continue

        if key not in df.columns:
            continue

        df = df[
            df[key]
            .astype(str)
            .str.lower()
            .eq(value.strip().lower())
        ]

    return df.city.unique().tolist()
filter_kb(kb, sample_config)

['Ankara',
 'Baku',
 'Izmir',
 'Kaliningrad',
 'Kazan',
 'Krasnodar',
 'Minsk',
 'Moscow',
 'Perm',
 'Riga',
 'Samara',
 'Sofia',
 'Tbilisi',
 'Tirana',
 'Zagreb']

In [44]:
for col in ["low_season", "medium_season", "high_season"]:
    kb[col] = kb[col].apply(
        lambda x: ast.literal_eval(x) if isinstance(x, str) else x
    )


MONTHS = [
    "January", "February", "March", "April", "May", "June",
    "July", "August", "September", "October", "November", "December"
]
def expand_seasonality_row(row):
    month_map = {month: None for month in MONTHS}

    for month in row["low_season"]:
        month_map[month] = "low"

    for month in row["medium_season"]:
        month_map[month] = "medium"

    for month in row["high_season"]:
        month_map[month] = "high"

    return month_map

In [45]:
seasonality_expanded = kb.apply(expand_seasonality_row, axis=1, result_type="expand")

kb_expanded = pd.concat(
    [kb[["city"]], seasonality_expanded],
    axis=1
)
kb_expanded

,city,January,February,March,April,May,June,July,August,September,October,November,December
0,Aalborg,low,low,low,low,medium,high,high,high,medium,medium,low,low
1,Aalborg,low,low,low,low,medium,high,high,high,medium,medium,low,low
2,Aalborg,low,low,low,low,medium,high,high,high,medium,medium,low,low
3,Aalborg,low,low,low,low,medium,high,high,high,medium,medium,low,low
4,Aalborg,low,low,low,low,medium,high,high,high,medium,medium,low,low
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4762,Zurich,low,low,low,medium,medium,high,high,high,high,medium,low,medium
4763,Zurich,low,low,low,medium,medium,high,high,high,high,medium,low,medium
4764,Zurich,low,low,low,medium,medium,high,high,high,high,medium,low,medium
4765,Zurich,low,low,low,medium,medium,high,high,high,high,medium,low,medium
4766,Zurich,low,low,low,medium,medium,high,high,high,high,medium,low,medium

In [46]:
def filter_city(kb, filters):
    kb_copy = kb.copy()
    for key, value in filters.items():
        if key == "month":
            output_df = ContextRetrieval.retrieve_month(value, output_df)
        elif key == "seasonality":
            output_df = output_df[output_df["low_season"].notna()]
        else:
            output_df = output_df[output_df[key].str.lower() == str.lower(value)]

    return output_df

In [1]:
import pandas as pd

In [2]:
kb = pd.read_csv("../data/collab-rec-2026/input-data/kb/merged_listing.csv")
kb.head()

,city,quality_of_life_score,aqi,vulnerability_to_climate_change,walkability,budget,family_score,fun,english_speaking,happiness,...,activity_sleep,low_season,medium_season,high_season,popularity,interest_title,interest_type,interest_text,interest_probability,interests
0,Aalborg,Good,Moderate,Very bad,Great,High,Good,Okay,Good,Great,...,"Eyvind Andreasen B&B, Hotel Chagall, First Hot...","['January', 'February', 'March', 'April', 'Nov...","['May', 'September', 'October']","['June', 'July', 'August']",Medium,Aalborg Akvavit,see,Aalborg Akvavit: Distillery.,0.258346,Nightlife Spot
1,Aalborg,Good,Moderate,Very bad,Great,High,Good,Okay,Good,Great,...,"Eyvind Andreasen B&B, Hotel Chagall, First Hot...","['January', 'February', 'March', 'April', 'Nov...","['May', 'September', 'October']","['June', 'July', 'August']",Medium,Aalborghus Castle,see,Aalborghus Castle: A castle and garden from th...,0.623170,Outdoors & Recreation
2,Aalborg,Good,Moderate,Very bad,Great,High,Good,Okay,Good,Great,...,"Eyvind Andreasen B&B, Hotel Chagall, First Hot...","['January', 'February', 'March', 'April', 'Nov...","['May', 'September', 'October']","['June', 'July', 'August']",Medium,Aalborg Townhall,see,Aalborg Townhall: Built in 1759.,0.281356,Food
3,Aalborg,Good,Moderate,Very bad,Great,High,Good,Okay,Good,Great,...,"Eyvind Andreasen B&B, Hotel Chagall, First Hot...","['January', 'February', 'March', 'April', 'Nov...","['May', 'September', 'October']","['June', 'July', 'August']",Medium,Aalborg Zoo,see,"Aalborg Zoo: Cosy zoo with many ""classic"" zoo ...",0.406486,Outdoors & Recreation
4,Aalborg,Good,Moderate,Very bad,Great,High,Good,Okay,Good,Great,...,"Eyvind Andreasen B&B, Hotel Chagall, First Hot...","['January', 'February', 'March', 'April', 'Nov...","['May', 'September', 'October']","['June', 'July', 'August']",Medium,Elbjørn,see,Elbjørn: Icebreaker now working as a restauran...,0.858076,Arts & Entertainment

In [5]:
pop_scores =pd.read_csv("../data/collab-rec-2026/input-data/kb/popularity_scores.csv")
pop_scores = pop_scores[["city", "weighted_pop_score"]]
pop_scores.head()

         city  weighted_pop_score
0         Van               0.208
1  Luxembourg               0.244
2   Santander               0.210
3  Maastricht               0.206
4        Kiel               0.193

In [7]:
kb = kb.merge(pop_scores, on="city", how="left")

In [9]:
kb.head()

,city,quality_of_life_score,aqi,vulnerability_to_climate_change,walkability,budget,family_score,fun,english_speaking,happiness,...,low_season,medium_season,high_season,popularity,interest_title,interest_type,interest_text,interest_probability,interests,weighted_pop_score
0,Aalborg,Good,Moderate,Very bad,Great,High,Good,Okay,Good,Great,...,"['January', 'February', 'March', 'April', 'Nov...","['May', 'September', 'October']","['June', 'July', 'August']",Medium,Aalborg Akvavit,see,Aalborg Akvavit: Distillery.,0.258346,Nightlife Spot,0.041
1,Aalborg,Good,Moderate,Very bad,Great,High,Good,Okay,Good,Great,...,"['January', 'February', 'March', 'April', 'Nov...","['May', 'September', 'October']","['June', 'July', 'August']",Medium,Aalborghus Castle,see,Aalborghus Castle: A castle and garden from th...,0.623170,Outdoors & Recreation,0.041
2,Aalborg,Good,Moderate,Very bad,Great,High,Good,Okay,Good,Great,...,"['January', 'February', 'March', 'April', 'Nov...","['May', 'September', 'October']","['June', 'July', 'August']",Medium,Aalborg Townhall,see,Aalborg Townhall: Built in 1759.,0.281356,Food,0.041
3,Aalborg,Good,Moderate,Very bad,Great,High,Good,Okay,Good,Great,...,"['January', 'February', 'March', 'April', 'Nov...","['May', 'September', 'October']","['June', 'July', 'August']",Medium,Aalborg Zoo,see,"Aalborg Zoo: Cosy zoo with many ""classic"" zoo ...",0.406486,Outdoors & Recreation,0.041
4,Aalborg,Good,Moderate,Very bad,Great,High,Good,Okay,Good,Great,...,"['January', 'February', 'March', 'April', 'Nov...","['May', 'September', 'October']","['June', 'July', 'August']",Medium,Elbjørn,see,Elbjørn: Icebreaker now working as a restauran...,0.858076,Arts & Entertainment,0.041

In [10]:
kb.to_csv("../data/collab-rec-2026/input-data/kb/merged_listing.csv", index=False)