In [1]:
import pandas as pd

In [3]:
MODEL_NAME = "claude"
REJECTION_STRATEGY = "aggressive"

In [4]:
df = pd.read_csv(f"../data/collab-rec-2026/analysis/{MODEL_NAME}_mami_{REJECTION_STRATEGY}_10_rounds_scores.csv")
df.head()

,query_id,filters,agent_name,round_nr,candidates,success_score,reliability_score,hallucination_rate,time_taken,total_token_count,pop_level
0,c_p_95_pop_high_hard,"{""popularity"": ""high"", ""month"": ""December"", ""b...",personalization,1,"[""Prague"", ""Vienna"", ""Budapest"", ""Krakow"", ""Be...",0.650,NaN,0.0,8.05,3456,high
1,c_p_95_pop_high_hard,"{""popularity"": ""high"", ""month"": ""December"", ""b...",sustainability,1,"[""Krakow"", ""Prague"", ""Budapest"", ""Brno"", ""Cluj...",0.600,NaN,0.0,8.05,3615,high
2,c_p_95_pop_high_hard,"{""popularity"": ""high"", ""month"": ""December"", ""b...",popularity,1,"[""Prague"", ""Budapest"", ""Krakow"", ""Vienna"", ""Br...",0.675,NaN,0.0,8.05,3437,high
3,c_p_95_pop_high_hard,"{""popularity"": ""high"", ""month"": ""December"", ""b...",moderator,1,"[""Prague"", ""Krakow"", ""Budapest"", ""Vienna"", ""Br...",0.675,NaN,0.0,8.05,10508,high
4,c_p_95_pop_high_hard,"{""popularity"": ""high"", ""month"": ""December"", ""b...",personalization,2,"[""Prague"", ""Budapest"", ""Krakow"", ""Vienna"", ""Be...",0.675,0.72,0.0,39.96,8796,high

In [8]:
grouped_df = df.groupby("round_nr").agg({"success_score": "mean"}).reset_index()
grouped_df.head()

   round_nr  success_score
0         1       0.594897
1         2       0.630074
2         3       0.628153
3         4       0.627868
4         5       0.626687

In [11]:
grouped_df["delta"] = grouped_df["success_score"].diff()
grouped_df

   round_nr  success_score     delta
0         1       0.594897       NaN
1         2       0.630074  0.035177
2         3       0.628153 -0.001921
3         4       0.627868 -0.000285
4         5       0.626687 -0.001181
5         6       0.626755  0.000067
6         7       0.625118 -0.001637
7         8       0.624942 -0.000176
8         9       0.624824 -0.000118
9        10       0.624541 -0.000283

In [10]:
grouped_df.delta.describe()

count    9.000000
mean     0.003294
std      0.011978
min     -0.001921
25%     -0.001181
50%     -0.000283
75%     -0.000118
max      0.035177
Name: delta, dtype: float64

In [12]:
claude = pd.read_csv("../data/collab-rec-2026/analysis/claude_mami_aggressive_scores.csv")
claude.head()

,query_id,filters,agent_name,round_nr,candidates,success_score,reliability_score,hallucination_rate,time_taken,total_token_count,pop_level
0,c_p_95_pop_high_hard,"{""popularity"": ""high"", ""month"": ""December"", ""b...",personalization,1,"[""Prague"", ""Vienna"", ""Budapest"", ""Krakow"", ""Be...",0.650,NaN,0.0,8.05,3456,high
1,c_p_95_pop_high_hard,"{""popularity"": ""high"", ""month"": ""December"", ""b...",sustainability,1,"[""Krakow"", ""Prague"", ""Budapest"", ""Brno"", ""Cluj...",0.600,NaN,0.0,8.05,3615,high
2,c_p_95_pop_high_hard,"{""popularity"": ""high"", ""month"": ""December"", ""b...",popularity,1,"[""Prague"", ""Budapest"", ""Krakow"", ""Vienna"", ""Br...",0.675,NaN,0.0,8.05,3437,high
3,c_p_95_pop_high_hard,"{""popularity"": ""high"", ""month"": ""December"", ""b...",moderator,1,"[""Prague"", ""Krakow"", ""Budapest"", ""Vienna"", ""Br...",0.675,NaN,0.0,8.05,10508,high
4,c_p_95_pop_high_hard,"{""popularity"": ""high"", ""month"": ""December"", ""b...",personalization,2,"[""Prague"", ""Budapest"", ""Krakow"", ""Vienna"", ""Be...",0.675,0.72,0.0,39.96,8796,high

In [13]:
claude.round_nr.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [15]:
gpt = pd.read_csv("../data/collab-rec-2026/analysis/gpt_sasi_scores_with_relevance.csv")
gpt.head()

,query_id,filters,agent_name,round_nr,candidates,success_score,reliability_score,hallucination_rate,time_taken,total_token_count,relevance_personalization,relevance_sustainability,relevance_popularity,overall_relevance,pop_level
0,c_p_95_pop_high_hard,"{""popularity"": ""high"", ""month"": ""December"", ""b...",sasi,1,"[""Berlin"", ""Prague"", ""Budapest"", ""Krakow"", ""Wa...",0.600,NaN,0.1,14.22,0,0.500000,0.733333,0.9,0.600,high
1,c_p_15_pop_high_hard,"{""popularity"": ""high"", ""month"": ""December"", ""i...",sasi,1,"[""Vienna"", ""Prague"", ""Munich"", ""Salzburg"", ""Bu...",0.825,NaN,0.0,6.51,0,0.766667,0.900000,1.0,0.825,high
2,c_p_30_pop_high_hard,"{""popularity"": ""high"", ""month"": ""June"", ""budge...",sasi,1,"[""Barcelona"", ""Prague"", ""Budapest"", ""Krakow"", ...",0.775,NaN,0.0,6.24,88,0.700000,0.833333,1.0,0.775,high
3,c_p_158_pop_high_hard,"{""popularity"": ""high"", ""budget"": ""low"", ""month...",sasi,1,"[""Budapest"", ""Prague"", ""Krakow"", ""Warsaw"", ""Be...",0.725,NaN,0.0,26.71,0,0.633333,0.733333,1.0,0.725,high
4,c_p_128_pop_high_hard,"{""popularity"": ""high"", ""budget"": ""medium"", ""in...",sasi,1,"[""Bratislava"", ""Budapest"", ""Krakow"", ""Ljubljan...",0.800,NaN,0.0,14.10,0,0.733333,0.800000,1.0,0.800,high

In [16]:
gpt.hallucination_rate.describe()

count    883.000000
mean       0.014156
std        0.059980
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000
Name: hallucination_rate, dtype: float64

In [17]:
gpt.loc[gpt["hallucination_rate"]==1]

,query_id,filters,agent_name,round_nr,candidates,success_score,reliability_score,hallucination_rate,time_taken,total_token_count,relevance_personalization,relevance_sustainability,relevance_popularity,overall_relevance,pop_level
862,c_p_170_pop_low_sustainable,"{""popularity"": ""low"", ""interests"": ""Shops & Se...",sasi,1,"[""Bruges"", ""Bruges"", ""Bruges"", ""Bruges"", ""Brug...",0.25,NaN,1.0,59.25,0,0.5,0.0,0.0,0.25,low