In [1]:
import pandas as pd
from helpers import *
import random

In [2]:
%load_ext autoreload
%autoreload 2

## Random Baseline Generation

In [3]:
file_name = "../../input-data/queries.csv"
queries_df = pd.read_csv(file_name)
print(queries_df.info())
queries_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   config_id  45 non-null     object
 1   config     45 non-null     object
 2   city       45 non-null     object
 3   query_v    45 non-null     object
dtypes: object(4)
memory usage: 1.5+ KB
None

,config_id,config,city,query_v
0,c_p_143_pop_high_hard,"{'p_id': 'p_143', 'persona': 'A former printin...","['Zurich', 'Warsaw', 'Vienna', 'Valencia', 'To...","""Recommend European cities for a high-budget t..."
1,c_p_15_pop_high_hard,"{'p_id': 'p_15', 'persona': 'A patient who see...","['Zurich', 'Vienna', 'Stuttgart', 'Stockholm',...","""High budget European cities to visit in Decem..."
2,c_p_5_pop_high_hard,"{'p_id': 'p_5', 'persona': 'an average Ukraini...","['Zurich', 'Warsaw', 'Valencia', 'Toulouse', '...","""Popular and expensive European cities to visi..."
3,c_p_155_pop_high_hard,"{'p_id': 'p_155', 'persona': 'a digital transf...","['Zurich', 'Warsaw', 'Valencia', 'Toulouse', '...","""European city breaks in September with high-e..."
4,c_p_116_pop_high_hard,"{'p_id': 'p_116', 'persona': 'An entrepreneuri...","['Zurich', 'Warsaw', 'Valencia', 'Toulouse', '...",High budget European city breaks in October wi...

In [4]:
kb = pd.read_csv("../../input-data/kb/eu-cities-database.csv")
print(len(kb))
kb.head()

4767

,city,country,budget,walkability,aqi,popularity,low_season,medium_season,high_season,interest_type,interest_title,interest_text
0,Aalborg,Denmark,High,Great,Moderate,Medium,"['January', 'February', 'March', 'April', 'Nov...","['May', 'September', 'October']","['June', 'July', 'August']",see,Aalborg Akvavit,Aalborg Akvavit: Distillery.
1,Aalborg,Denmark,High,Great,Moderate,Medium,"['January', 'February', 'March', 'April', 'Nov...","['May', 'September', 'October']","['June', 'July', 'August']",see,Aalborghus Castle,Aalborghus Castle: A castle and garden from th...
2,Aalborg,Denmark,High,Great,Moderate,Medium,"['January', 'February', 'March', 'April', 'Nov...","['May', 'September', 'October']","['June', 'July', 'August']",see,Aalborg Townhall,Aalborg Townhall: Built in 1759.
3,Aalborg,Denmark,High,Great,Moderate,Medium,"['January', 'February', 'March', 'April', 'Nov...","['May', 'September', 'October']","['June', 'July', 'August']",see,Aalborg Zoo,"Aalborg Zoo: Cosy zoo with many ""classic"" zoo ..."
4,Aalborg,Denmark,High,Great,Moderate,Medium,"['January', 'February', 'March', 'April', 'Nov...","['May', 'September', 'October']","['June', 'July', 'August']",see,Elbjørn,Elbjørn: Icebreaker now working as a restauran...

In [5]:
kb_cities = list(set(kb['city'].tolist()))
print(len(kb_cities))
print(kb_cities [:10])

200
['Bordeaux', 'Sarajevo', 'Mus', 'Rouen', 'Perm', 'Rijeka', 'Kharkiv', 'Pristina', 'Elazig', 'Erfurt']

In [6]:
def generate_random_cities(k=10, seed=42, kb_cities: list = None):
    """
    Generate a random list of k cities from the given kb_cities list.

    Parameters:
    - k (int): Number of cities to sample.
    - seed (int): Random seed for reproducibility.
    - kb_cities (list): List of available cities to sample from.

    Returns:
    - list: A list of k randomly sampled cities.

    Raises:
    - ValueError: If kb_cities is None or if k > len(kb_cities).
    """
    if kb_cities is None:
        raise ValueError("kb_cities must be provided.")

    if k > len(kb_cities):
        raise ValueError(f"k ({k}) cannot be greater than the number of available cities ({len(kb_cities)}).")

    random.seed(seed)
    return random.sample(kb_cities, k)

In [7]:
queries = queries_df['query_v'].tolist()
random_cities_results = []
SEEDS = [
    42, 7, 19, 83, 101, 256, 999, 123, 987, 65,
    300, 14, 29, 77, 55, 321, 444, 678, 890, 12,
    34, 56, 78, 90, 135, 246, 357, 468, 579, 680,
    791, 802, 913, 111, 222, 333, 4444, 5555, 6666,
    7777, 8888, 9999, 2025, 3141, 2718, 1618, 9090
]
for (q, seed) in zip(queries, SEEDS):
    random_cities_list = generate_random_cities(k=10, seed=seed, kb_cities = kb_cities)
    random_cities_results.append(random_cities_list)
queries_df["random_baseline"] = random_cities_results

In [8]:
print(queries_df.head())

queries_df.to_csv("../../data/conv-trs/multi-agent/results/non-llm-baselines/random_baseline.csv", index=False)

               config_id                                             config  \
0  c_p_143_pop_high_hard  {'p_id': 'p_143', 'persona': 'A former printin...
1   c_p_15_pop_high_hard  {'p_id': 'p_15', 'persona': 'A patient who see...
2    c_p_5_pop_high_hard  {'p_id': 'p_5', 'persona': 'an average Ukraini...
3  c_p_155_pop_high_hard  {'p_id': 'p_155', 'persona': 'a digital transf...
4  c_p_116_pop_high_hard  {'p_id': 'p_116', 'persona': 'An entrepreneuri...

                                                city  \
0  ['Zurich', 'Warsaw', 'Vienna', 'Valencia', 'To...
1  ['Zurich', 'Vienna', 'Stuttgart', 'Stockholm',...
2  ['Zurich', 'Warsaw', 'Valencia', 'Toulouse', '...
3  ['Zurich', 'Warsaw', 'Valencia', 'Toulouse', '...
4  ['Zurich', 'Warsaw', 'Valencia', 'Toulouse', '...

                                             query_v  \
0  "Recommend European cities for a high-budget t...
1  "High budget European cities to visit in Decem...
2  "Popular and expensive European cities to visi...
3  "European city breaks in September with high-e...
4  High budget European city breaks in October wi...

                                     random_baseline
0  [Vinnytsia, Barcelona, Kharkiv, Ioannina, Tira...
1  [Tbilisi, Timisoara, Nalchik, Kaliningrad, Lvi...
2  [Vitoria-Gasteiz, Siirt, Amsterdam, Krasnodar,...
3  [Istanbul, Copenhagen, Uzhhorod, Debrecen, Con...
4  [Varna, Satu Mare, Brno, Petrozavodsk, Donetsk...

## Analysis

### Diversity

In [9]:
queries_df["entropy"] = queries_df["random_baseline"].apply(
    lambda recs: compute_normalized_entropy(recs)[-1]
)

queries_df["entropy2"] = queries_df["random_baseline"].apply(compute_entropy_topPop)
print(f"Average entropy for random baseline: {queries_df['entropy'].mean()} \t {queries_df['entropy2'].mean()}")
queries_df[["query_v", "random_baseline", "entropy", "entropy2" ]].head()

Average entropy for random baseline: 0.9077333333333333 	 0.9790755555555557

,query_v,random_baseline,entropy,entropy2
0,"""Recommend European cities for a high-budget t...","[Vinnytsia, Barcelona, Kharkiv, Ioannina, Tira...",0.861,0.9660
1,"""High budget European cities to visit in Decem...","[Tbilisi, Timisoara, Nalchik, Kaliningrad, Lvi...",0.907,0.9766
2,"""Popular and expensive European cities to visi...","[Vitoria-Gasteiz, Siirt, Amsterdam, Krasnodar,...",0.899,0.9748
3,"""European city breaks in September with high-e...","[Istanbul, Copenhagen, Uzhhorod, Debrecen, Con...",0.920,0.9703
4,High budget European city breaks in October wi...,"[Varna, Satu Mare, Brno, Petrozavodsk, Donetsk...",0.943,0.9830

In [10]:
queries_df["gini_index"] = queries_df["random_baseline"].apply(gini_index)
print(f"Average gini for random baseline: {queries_df['gini_index'].mean()} ")
queries_df[["query_v", "random_baseline", "entropy", "gini_index" ]].head()

Average gini for random baseline: 0.41323328535523923

,query_v,random_baseline,entropy,gini_index
0,"""Recommend European cities for a high-budget t...","[Vinnytsia, Barcelona, Kharkiv, Ioannina, Tira...",0.861,0.477586
1,"""High budget European cities to visit in Decem...","[Tbilisi, Timisoara, Nalchik, Kaliningrad, Lvi...",0.907,0.397135
2,"""Popular and expensive European cities to visi...","[Vitoria-Gasteiz, Siirt, Amsterdam, Krasnodar,...",0.899,0.439560
3,"""European city breaks in September with high-e...","[Istanbul, Copenhagen, Uzhhorod, Debrecen, Con...",0.920,0.400278
4,High budget European city breaks in October wi...,"[Varna, Satu Mare, Brno, Petrozavodsk, Donetsk...",0.943,0.329097

In [16]:
queries_df['relevance'] = queries_df.apply(
    lambda row: get_city_relevance_score(response=row["random_baseline"], query=row["query_v"],
                                         is_baseline=True),
    axis=1
)
print(f"Average relevance for random baseline: {queries_df['relevance'].mean()} \n\n ")

Average relevance for random baseline: 0.5938888888888889

In [14]:
compute_normalized_entropy(queries_df["random_baseline"][0])

(2.967, 0.9)