In [6]:
import pandas as pd 
import numpy as np 
import os 
import sys
import ast

In [2]:
df = pd.read_csv("../../data/conv-trs/multi-agent/results/sasi_results.csv")

In [4]:
df.head()

,config_id,config,query,response_Gemini2Flash,response_Claude3Point7Sonnet,response_DeepSeekReasoner
0,c_p_143_pop_high_hard,"{'p_id': 'p_143', 'persona': 'A former printin...","""Recommend European cities for a high-budget t...","['Paris', 'Rome', 'Barcelona', 'Amsterdam', 'B...","['Paris', 'London', 'Berlin', 'Barcelona', 'Am...","['Paris', 'Amsterdam', 'Barcelona', 'Berlin', ..."
1,c_p_15_pop_high_hard,"{'p_id': 'p_15', 'persona': 'A patient who see...","""High budget European cities to visit in Decem...","['Paris', 'London', 'Vienna', 'Berlin', 'Amste...","['London', 'Paris', 'Vienna', 'Prague', 'Berli...","['Vienna', 'Zurich', 'Paris', 'Copenhagen', 'L..."
2,c_p_5_pop_high_hard,"{'p_id': 'p_5', 'persona': 'an average Ukraini...","""Popular and expensive European cities to visi...","['Paris', 'Rome', 'London', 'Amsterdam', 'Vien...","['Geneva', 'Stockholm', 'Zurich', 'Copenhagen'...","['Paris', 'Zurich', 'Geneva', 'Amsterdam', 'Co..."
3,c_p_155_pop_high_hard,"{'p_id': 'p_155', 'persona': 'a digital transf...","""European city breaks in September with high-e...","['Paris', 'Rome', 'London', 'Barcelona', 'Vien...","['Paris', 'Rome', 'London', 'Barcelona', 'Vien...","['Paris', 'Vienna', 'Barcelona', 'Amsterdam', ..."
4,c_p_116_pop_high_hard,"{'p_id': 'p_116', 'persona': 'An entrepreneuri...",High budget European city breaks in October wi...,"['Barcelona', 'Rome', 'Paris', 'Amsterdam', 'M...","['Barcelona', 'Rome', 'Paris', 'Istanbul', 'Ma...","['Zurich', 'Geneva', 'Paris', 'Vienna', 'Munic..."

In [7]:
MODELS = ['Gemini2Flash', 'Claude3Point7Sonnet', 'DeepSeekReasoner']

In [12]:
common_cities = [] 

for i, row in df.iterrows(): 
    cities = set(ast.literal_eval(row[f'response_{MODELS[0]}'])) & set(ast.literal_eval(row[f'response_{MODELS[1]}'])) & set(ast.literal_eval(row[f'response_{MODELS[2]}']))
    common_cities.append(cities)

df['common_cities'] = common_cities

In [13]:
df.head()

,config_id,config,query,response_Gemini2Flash,response_Claude3Point7Sonnet,response_DeepSeekReasoner,common_cities
0,c_p_143_pop_high_hard,"{'p_id': 'p_143', 'persona': 'A former printin...","""Recommend European cities for a high-budget t...","['Paris', 'Rome', 'Barcelona', 'Amsterdam', 'B...","['Paris', 'London', 'Berlin', 'Barcelona', 'Am...","['Paris', 'Amsterdam', 'Barcelona', 'Berlin', ...","{Vienna, Berlin, Paris, Amsterdam, Prague, Rom..."
1,c_p_15_pop_high_hard,"{'p_id': 'p_15', 'persona': 'A patient who see...","""High budget European cities to visit in Decem...","['Paris', 'London', 'Vienna', 'Berlin', 'Amste...","['London', 'Paris', 'Vienna', 'Prague', 'Berli...","['Vienna', 'Zurich', 'Paris', 'Copenhagen', 'L...","{Vienna, Berlin, Paris, Amsterdam, London}"
2,c_p_5_pop_high_hard,"{'p_id': 'p_5', 'persona': 'an average Ukraini...","""Popular and expensive European cities to visi...","['Paris', 'Rome', 'London', 'Amsterdam', 'Vien...","['Geneva', 'Stockholm', 'Zurich', 'Copenhagen'...","['Paris', 'Zurich', 'Geneva', 'Amsterdam', 'Co...","{Zurich, Vienna, Paris, Geneva, Amsterdam, Cop..."
3,c_p_155_pop_high_hard,"{'p_id': 'p_155', 'persona': 'a digital transf...","""European city breaks in September with high-e...","['Paris', 'Rome', 'London', 'Barcelona', 'Vien...","['Paris', 'Rome', 'London', 'Barcelona', 'Vien...","['Paris', 'Vienna', 'Barcelona', 'Amsterdam', ...","{Vienna, Paris, Amsterdam, Prague, Rome, Barce..."
4,c_p_116_pop_high_hard,"{'p_id': 'p_116', 'persona': 'An entrepreneuri...",High budget European city breaks in October wi...,"['Barcelona', 'Rome', 'Paris', 'Amsterdam', 'M...","['Barcelona', 'Rome', 'Paris', 'Istanbul', 'Ma...","['Zurich', 'Geneva', 'Paris', 'Vienna', 'Munic...","{Vienna, Paris, Amsterdam, Barcelona, Madrid}"

In [14]:
def len_list(common_cities):
    return len(common_cities)

print(np.mean(df['common_cities'].apply(len_list)))

3.6

In [15]:
def find_level_pop(config_id):
    pop_level = config_id.split("_")[4:]
    return "_".join(pop_level)

df['pop_level'] = df['config_id'].apply(find_level_pop)

In [19]:
df['len_common_cities'] = df['common_cities'].apply(len)
df1 = df.groupby('pop_level')['len_common_cities'].mean()

In [20]:
df1.head()

pop_level
high_hard           6.2
high_medium         6.2
high_sustainable    5.4
low_medium          1.8
low_sustainable     1.4
Name: len_common_cities, dtype: float64

In [21]:
df[df['pop_level'] == "low_sustainable"].head()

,config_id,config,query,response_Gemini2Flash,response_Claude3Point7Sonnet,response_DeepSeekReasoner,common_cities,pop_level,len_common_cities
20,c_p_113_pop_low_sustainable,"{'p_id': 'p_113', 'persona': 'a Jewish politic...","""Unconventional European cities to visit in Ma...","['Bologna', 'Seville', 'Valencia', 'Thessaloni...","['Prague', 'Ljubljana', 'Porto', 'Krakow', 'Ly...","['Cluj-Napoca', 'Sibiu', 'Brno', 'Braga', 'Plo...",{},low_sustainable,0
21,c_p_147_pop_low_sustainable,"{'p_id': 'p_147', 'persona': 'A geography teac...","""European cities with low popularity, great wa...","['Bologna', 'Seville', 'Valencia', 'Lyon', 'To...","['Brno', 'Kosice', 'Rijeka', 'Debrecen', 'Nis'...","['Sibiu', 'Cluj-Napoca', 'Brno', 'Plovdiv', 'T...",{},low_sustainable,0
22,c_p_3_pop_low_sustainable,"{'p_id': 'p_3', 'persona': 'a film critic who ...","""European cities with low popularity, monaster...","['Sibiu', 'Cluj-Napoca', 'Iasi', 'Lviv', 'Brno...","['Trebinje', 'Sibiu', 'Ioannina', 'Kutaisi', '...","['Sibiu', 'Plovdiv', 'Cluj-Napoca', 'Coimbra',...",{Sibiu},low_sustainable,1
23,c_p_169_pop_low_sustainable,"{'p_id': 'p_169', 'persona': 'A renewable ener...","""off the beaten path destinations in Eastern E...","['Lviv', 'Cluj-Napoca', 'Sibiu', 'Kosice', 'Ri...","['Belgrade', 'Lviv', 'Sofia', 'Minsk', 'Chisin...","['Cluj-Napoca', 'Timisoara', 'Sibiu', 'Plovdiv...",{Cluj-Napoca},low_sustainable,1
24,c_p_54_pop_low_sustainable,"{'p_id': 'p_54', 'persona': ""A wanderlust-fill...",I'm ready to generate a query for the travel r...,"['Florence', 'Seville', 'Lisbon', 'Valencia', ...","['Barcelona', 'Paris', 'Rome', 'Amsterdam', 'I...","['Paris', 'Amsterdam', 'Barcelona', 'Rome', 'P...",{Prague},low_sustainable,1

In [27]:
df[df['pop_level'] == "low_sustainable"]

IndexError: single positional indexer is out-of-bounds